<!-- main app container -->
<div class="app-page">
  <div class="nav">
    <div class="title"><span>ZenithSocity</span></div>
    <div class="nav-center">
       <div class="nav-item"></div>
       <div class="nav-item" [routerLinkActive]="['active']"><a [routerLink]="['/event']">manage events</a></div>
       <div class="nav-item" [routerLinkActive]="['active']"><a [routerLink]="['/activity']">manage activity</a></div>
       <div class="nav-item" [routerLinkActive]="['active']"><a [routerLink]="['/user']">manage users</a></div>
       <div class="nav-item" [routerLinkActive]="['active']"><a [routerLink]="['/role']">manage roles</a></div>
    </div>
    <div class="nav-right">
      <div *ngIf="currentUser">
        <i>Hi {{currentUser.firstName}}!</i>
        <span><a [routerLink]="['/login']">Logout</a></span>
      </div>
    </div>
  </div>
            <alert></alert>
            <router-outlet></router-outlet>
</div>
