<div class="user-content">

<table>
 <thead>
 <tr>
 <th *ngFor="let col of columns" >{{col.title}}</th>

 </tr>

 </thead>
 <tbody>
 <tr *ngFor="let row of rows">
	<td>{{row.roleName}}</td>
	<td *ngIf="row.roleName !== 'Admin'"><a (click)="delete(row.roleId)">Delete</a></td>
 </tr>
 </tbody>

 </table>
 <button class="btn btn-primary btn-sm" (click)="create()">add new role</button>
 <div class="user-detail" *ngIf="ctrlFlag">
	<form name="form" (ngSubmit)="f.form.valid && updateOrDelete()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !roleName.valid }">
      <label for="roleName">Role Name</label>
      <input type="text" class="form-control" name="roleName" [(ngModel)]="model.roleName" #roleName="ngModel" required />
      <div *ngIf="f.submitted && !roleName.valid" class="help-block">Role Name is required</div>
    </div>
    <div class="form-group">
      <button  class="btn btn-primary" *ngIf="ctrlFlag ==='create'">Create</button>
      <button  class="btn btn-primary" *ngIf="ctrlFlag ==='delete'">Delete</button>
      <a (click)="cancel()" class="btn btn-link">Cancel</a>
    </div>
  </form>
 </div>
</div>
